.sidebar {
  width: 220px;
  height: calc(100vh - 60px);
  background-color: #111111;
  color: white;

  padding-top: 20px;
}

/* Menu list */

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Menu items */

.sidebar-item {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.2s ease;
}

/* Hover effect */

.sidebar-item:hover {
  background-color: #EC4899;
}